*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#header{
    font-size: 35px;
    text-align: center;
    font-weight: 600;
    background-color: aliceblue;
}
#header-hr{
    background-color: black;
    padding: 1px 0;
}
main{
    width: 80%;
    margin: 30px auto;
}
#product-container-1{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
}
#product-images-and-name{
    align-items: center; 
    width: 60%;
    justify-content: space-between;
    display: flex;
}
#product-images-and-name #image{
    box-shadow: 0px 0px 15px black;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
#product-images-and-name h2{
    font-size: 35px;
    text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);

}
#product-price-container{
    margin-left: 80px;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}
#product-price-container #minus-the-value{
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 10px;
}
#product-price-container #product-value{
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 10px;
    width: 50%;
}
#product-price-container #plus-the-value{
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 10px;
}
#product-price-container #product-price{
    font-size: 35px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);
}
#product-container-2{
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
}
#product-images-and-name-2{
    align-items: center; 
    width: 60%;
    justify-content: space-between;
    display: flex;
}
#product-images-and-name-2 #image{
    box-shadow: 0px 0px 15px black;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
#product-images-and-name-2 h2{
    font-size: 35px;
    text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);

}
#product-price-container-2{
    margin-left: 80px;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-evenly;
}
#product-price-container-2 #minus-the-value-2{
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 10px;
}
#product-price-container-2 #product-value-2{
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 10px;
    width: 50%;
}
#product-price-container-2 #plus-the-value-2{
    font-size: 27px;
    font-weight: 600;
    cursor: pointer;
    padding: 0 10px;
}
#product-price-container-2 #product-price-2{
    font-size: 35px;
    font-weight: 600;
    text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);
}
#total-container{
    margin: 100px 0;
    width: 100%;
    font-weight: 600;
    font-size: 28px;
}
#sub-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}
#tax-total{
    display: flex;
    margin: 5px 0;
    justify-content: space-between;
    align-items: center;
}
#total{
    display: flex;
    margin: 15px 0;
    justify-content: space-between;
    align-items: center;
}
#checkout-botton{
    padding: 10px 20px;
    font-weight: 600;
    font-size: 25px;
    position: absolute;
    right: 100px;
    border-radius: 6px;
    background-color: crimson;
    outline:none;
    border: none;
    color: white;
    cursor: pointer;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
@media (max-width:900px){
    #product-container-1{
        margin: 20px 0;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color:white;
    }
    #product-images-and-name{
        align-items: center; 
        width: 100%;
        margin: 30px 40px;
        justify-content: space-around;
        display: flex;
    }
    #product-images-and-name h2{
        font-size: 30px;
        text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);
    
    }
    #product-price-container{
        margin-left: 80px;
        display: flex;
        margin: 30px 40px;

        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    #product-container-2{
        margin: 20px 0;
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color:white;
    }
    #product-images-and-name-2{
        align-items: center; 
        width: 100%;
        margin: 30px 40px;
        justify-content: space-around;
        display: flex;
    }
    #product-images-and-name-2 h2{
        font-size: 30px;
        text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);
    
    }
 
    #product-price-container-2{
        margin-left: 80px;
        display: flex;
        margin: 30px 40px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    }
    #checkout-botton{
        padding: 8px 16px;
        font-weight: 600;
        font-size: 25px;
        position: absolute;
        right: 50px;
        border-radius: 6px;
        background-color: crimson;
        outline:none;
        border: none;
        color: white;
        cursor: pointer;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
}
@media (max-width:500px){
    #header{
        font-size: 30px;
    }
    #product-images-and-name{
        align-items: center; 
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
    }
    #product-images-and-name h2{
        font-size: 27px;
        margin: 10px 0;
        text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);
    
    }
    #product-images-and-name-2{
        align-items: center; 
        width: 100%;
        flex-direction: column;
        justify-content: space-between;
        display: flex;
    }
    #product-images-and-name-2 h2{
        font-size: 27px;
        margin: 10px 0;
        text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);
    
    }
    #product-price-container #product-price{
        font-size: 27px;
        font-weight: 600;
        text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);
    }
    #product-price-container #minus-the-value{
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
        padding: 0 8px;
    }
    #product-price-container #product-value{
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
        padding: 0 8px;
        width: 50%;
    }
    #product-price-container-2 #product-price-2{
        font-size: 27px;
        font-weight: 600;
        text-shadow: 0px 0px 10px rgba(19, 0, 0, 0.397);
    }
    #product-price-container #minus-the-value{
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
        padding: 0 8px;
    }
    #product-price-container #product-value{
        font-size: 25px;
        font-weight: 600;
        cursor: pointer;
        padding: 0 8px;
        width: 50%;
    }
    #checkout-botton{
        padding: 8px 16px;
        font-weight: 600;
        font-size: 25px;
        position: absolute;
        right: 40px;
        border-radius: 6px;
        background-color: crimson;
        outline:none;
        border: none;
        color: white;
        cursor: pointer;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
}
@media(max-width:400px){
    #checkout-botton{
        padding: 6px 12px;
        font-weight: 600;
        font-size: 25px;
        position: absolute;
        right: 30px;
        border-radius: 6px;
        background-color: crimson;
        outline:none;
        border: none;
        color: white;
        cursor: pointer;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
    }
}